body {
  font-family: $font-family;
  font-size: 18px;
  color: $color-text;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}
