.calculator {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }

  &__entries {
    width: calc(100% - 310px);
    background: #FFFFFF;
    border: 1px solid #ADBBD4;
    border-radius: 10px;

    @include media-breakpoint-down(md) {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  &__entry {
    display: flex;
    justify-content: flex-start;
    padding: 60px 78px 53px 41px;
    grid-column-gap: 44px;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      margin-right: 9px;
      padding: 32px 23px;
      grid-column-gap: 0;
    }

    &:first-child {
      padding-top: 87px;
      border-bottom: 1px solid #ADBBD4;

      @include media-breakpoint-down(md) {
        padding-top: 50px;
      }
    }

    &:last-child {
      padding-top: 91px;

      @include media-breakpoint-down(md) {
        padding-top: 62px;
      }
    }
  }

  &__input {
    position: relative;
    width: 100%;
    margin-bottom: 0;

    &:after {
      content: "x";
      position: absolute;
      right: -22px;
      top: 50%;
      transform: translate(50%, -50%);
      font-family: $font-family-secondary;
      font-weight: 700;
      font-size: 14px;
      color: #070918;

      @include media-breakpoint-down(md) {
        right: -20px;
      }
    }

    &:nth-child(1) {
      max-width: 225px;

      input:not([type="range"]) {
        padding-right: 45px;
      }

      @include media-breakpoint-down(md) {
        width: 100%;
        max-width: none;
        margin-bottom: 44px;

        &:after {
         display: none;
        }
      }
    }

    &:nth-child(2) {
      max-width: 102px;

      @include media-breakpoint-down(md) {
        max-width: none;
        flex: 1;
        margin-right: 40px;
      }
    }

    &:nth-child(3) {
      max-width: 72px;

      @include media-breakpoint-down(md) {
        max-width: none;
        flex: 1;
        max-width: 118px;
      }
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &-label {
      position: absolute;
      top: -13px;
      left: 0;
      transform: translateY(-100%);
      font-family: $font-family-secondary;
      font-size: 14px;
      font-weight: 700;
      color: #070918;
    }

    input {
      height: 49px;
      padding-left: 15px;
      padding-right: 35px;
      background: #fff;
      border: 1px solid #ADBBD4;
      border-radius: 2px;

      &[disabled] {
        background: #E5EBF7;
      }
    }

    &-type {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      font-size: 16px;
      color: #7A7A9D;
    }
  }

  &__results {
    position: relative;
    width: 310px;
    padding: 26px 50px;
    background: #874CFA;
    border-radius: 10px;
    color: #fff;
    transform: translateX(-15px);

    @include media-breakpoint-down(md) {
      width: 100%;
      transform: translateY(-15px);
      padding: 15px 23px;
    }

    &-title {
      margin-bottom: 40px;
      font-family: $font-family-secondary;
      font-weight: 800;
      font-size: 20px;
      text-align: center;

      @include media-breakpoint-down(md) {
        margin-bottom: 10px;
        font-size: 14px;
        text-align: left;
      }
    }

    &-item {
      margin-bottom: 30px;
      text-align: center;

      @include media-breakpoint-down(md) {
        display: inline-flex;
        flex-direction: column;
        margin-left: 30px;
        margin-bottom: 0;

        &:nth-child(2) {
          margin-left: 56px;
        }
      }

      @media (max-width: 374px) {
        &:nth-child(2) {
          margin-left: 0;
        }
      }

      &-title {
        margin-bottom: 10px;
        font-family: $font-family-secondary;
        font-weight: 400;
        font-size: 20px;

        @include media-breakpoint-down(md) {
          order: 2;
          margin-bottom: 0;
          font-size: 14px;
        }
      }

      &-number {
        font-family: $font-family-secondary;
        font-weight: 800;
        font-size: 36px;

        @include media-breakpoint-down(md) {
          order: 1;
          font-size: 20px;
        }
      }
    }

    &-money-bag {
      width: 74px;
      height: 74px;
      margin-left: auto;
      margin-right: auto;

      @include media-breakpoint-down(md) {
        position: absolute;
        left: 23px;
        top: 42px;
        width: 38px;
        height: 38px;
      }

      @media (max-width: 374px) {
        display: none;
      }

      img, svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
}
